.about{
    color: rgb(249, 250, 250);
    font-size: large;
    text-align:left;
    margin-left: 2%;
    margin-top: 3%;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    
    
    
    
}

.Git{

    border-radius: 33%;
    
}

.welcome{
    color: rgb(249, 250, 250);
    
    text-align:left;
    margin-left: 2%;
    margin-top: 10%;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
    

}

.img-thumbnail{
    margin-top: 5%;
    border-radius: 20%;
    box-shadow: 10;
    
    
}

@media (max-width:500px) {
    .about{
        
        max-width: 350px;
        font-size: small;
    }

    .img-thumbnail{
        max-width: 200;
        max-height: 200;
    }
    .welcome{
        margin-top: 18%;
        font-size: medium;
        max-width: 350px;
    }
    .Git{
        max-width: 50px;
        max-height: 50px;
    }
    
}