
.logo{
    
    border-radius: 25px;
    color: #063eb6;
   
    
  
    
}

.txt{
    font-size: x-large;
    font-weight: bold;
    font-variant: small-caps;
    color: rgb(244, 240, 240);
}

.dropdown{
    border-radius: 7px;
    background-color: white;
}


@media (max-width: 500px){
    .txt{
        font-size: medium;
        color: #063eb6;
    }
    
}

  
  