
.logo{
    
    border-radius: 25px;
    color: #e8eaf0;
   
    
  
    
}

.txt{
    font-size: x-large;
    font-weight: bold;
    font-variant: small-caps;
    color: rgb(244, 240, 240);
}

.dropdown{
    border-radius: 7px;
    background-color: white;
}

.navbar {
    background-color: #0b6fea;
  }

  .navbar .nav-link[href="/"] {
    font-size: 16px;
    font-style: oblique;
    font-weight: bold;
  }
  .navbar .nav-link[href="/Skills"] {
    font-size: 16px;
    font-style: oblique;
    font-weight: bold;
  }
  .navbar .nav-link[href="/Projects"] {
    font-size: 16px;
    font-style: oblique;
    font-weight: bold;
    
  }
  .navbar .nav-link[href="#memes"] {
    font-size: 16px;
    font-style: oblique;
    font-weight: bold;
    
  }

