.Projects-txt{
    color: white;
    text-align: left;
    margin-left: 2%;
    font-size: x-large;

}

.imgs{
    /* outline-style: solid;
    outline-color: aliceblue; */
    
}

.font-Roman{
    font-family:'Times New Roman', Times, serif;
    

}

.corousel-div{
    background-color: black;
    opacity: 0.6;
    

}

.skills-project{
    color: rgb(249, 250, 250);
    font-size: large;
    text-align:left;
    margin-left:2% ;
   
    margin-bottom: 5%;
    
    
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}



@media (max-width:500px) {

    .skills-project{
      max-width: 380px;
      font-size: small;
      
      
    }
    .corousel-div{
        max-width: 400px;
        max-height: 350px;
    }
    .carousel{
        max-width: 400px;
        max-height: 350px;

    }
    .imgs{
        max-width: 400px;
        max-height: 350px;
    } 
    
    
}