.Projects-txt{
    color: white;
    text-align: left;
    margin-left: 2%;
    font-size: x-large;

}

.imgs{
    
}

.font-Roman{
    font-family:'Times New Roman', Times, serif;
    

}

.corousel-div{
    background-color: black;
    opacity: 0.6;
    

}