.Skills-txt{
    color: rgb(249, 250, 250);
    
    text-align:left;
    margin-left: 2%;
    margin-top: 3%;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
    font-size: x-large;
    

}

.skills{
    color: rgb(249, 250, 250);
    font-size: large;
    text-align:left;
    margin-left: 2%;
    
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    
    
}

.skill-div{
    background-color: black;
    opacity: .80;
    margin-left: 2%;
    margin-top: 3%;
    align-content: flex-end;
}

.skill-head{
    color: #ef8568;
    
    text-align:left;
    
    font-size: x-large;
    margin-top: 2%;
    
    
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

.small-txt{
    text-align:left;
    margin-left: 1%;
    color: rgb(249, 250, 250);
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;

}
.page{
    padding-top: 1%;
}



@media (max-width : 500px) {
    .skill-head{
       
        font-size: medium;
    }
    .Skills-txt{

        font-size: small;
    }
    .skills{
        font-size: small;
    }
    
    .page{
         padding-top: 12%;
        
     }
}

